@font-face {
    font-family: 'Adam';
    src: url(fonts/Adam.ttf);
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Jost';
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.container {
    width: 90%;
    max-width: 1280px;
    margin: auto;
}

header {
    background: url(Images/vector.png);
    background-color: #343333;
    background-size: 10%;
    height: 80vh;
    
}

header .menu {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

header .logo-img {
    max-width: 70px;
    max-height: 70px;
}

header .logo-menu {
    display: flex;
    align-items: center;
}

nav ul {
    display: flex;
}

nav ul li {
    margin: 0 20px;
}

nav ul li {
    color: white;
}

header .boton a, #discography a, #about a {
    font-family: 'Jost';
    color: black;
    background: yellow;
    padding: 10px 20px;
    line-height: 50px;
    font-weight: 900;
}

header .title {
    font-family: 'Adam';
    margin-top: 30vh;
    color: white;
}

h1 {
    font-size: 50px;
    width: 80%;
}

.us {
    font-family: 'Jost';
    background: yellow;
    padding: 10px 30px;
    line-height: 50px;
}

.tour {
    font-family: 'Jost';
    background: white;
    padding: 10px 30px;
    line-height: 50px;
}

.yellow {
    color: yellow;
}

#discography {
    background: #343333;
    color: white;
    padding: 60px 30px}

h4 {
    margin: 0;
    color: yellow;
    font-weight: normal;
    border: 1px solid #ccc;
    width: 85px;
    padding: 3px;
    border-radius: 10px;
    text-align: center;

}

#discography .container {
display: flex;
align-items: center;
}

#discography h2 {
    font-family: 'Adam';
    font-size: 30px;
    margin-bottom: 10px;
}

#discography span {
    color: yellow;
}

#discography p {
    font-family: 'Jost';
    font-size: 18px;
    line-height: 25px;
}

#discography img {
    width: 100%;
}

#discography .text {
    width: 50%;
}

#discography .cover {
    width: 20%;
}

.text-container {
    display: flex;
}

#about {
    padding: 60px 0;
}

#about h4 {
    color: #000;
    border: 1px solid #000;
    text-align: center;
}

.black {
    background: #aaa !important;
}