body {
    margin: 0;
    padding: 0;
    font-family: 'Adam';
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

@font-face {
    font-family: 'Adam';
    src: url(fonts/Adam.ttf);
}

.container {
    width: 90%;
    max-width: 1280px;
    margin: auto;
}

header {
    background: url(Images/vector.png);
    background-color: #343333;
    background-size: 10%;
    height: 80vh;
    
}

header .menu {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

header .logo-img {
    max-width: 70px;
    max-height: 70px;
}

header .logo-menu {
    display: flex;
    align-items: center;
}

nav ul {
    display: flex;
}

nav ul li {
    margin: 0 20px;
}

nav ul li {
    color: white;
}

header .boton a, #discography a {
    color: black;
    background: yellow;
    padding: 10px 20px;
    line-height: 50px;
    font-weight: 900;
}

header .title {
    margin-top: 30vh;
    color: white;
}

h1 {
    font-size: 50px;
    width: 80%;
}

.us {
    background: yellow;
    padding: 10px 30px;
    line-height: 50px;
}

.tour {
    background: white;
    padding: 10px 30px;
    line-height: 50px;
}

.yellow {
    color: yellow;
}

#discography {
    background: #343333;
    color: white;
    padding: 60px 30px}

#discography h4 {
    margin: 0;
    color: yellow;
    border: 1px solid #ccc;
    width: 85px;
    padding: 3px;
    border-radius: 10px;
}

#discography .container {
display: flex;
align-items: center;
}

#discography span {
    color: yellow;
}

#discography h2 {
    font-size: 50px;
    margin-bottom: 10px;
}

#discography p {
    font-size: 18px;
    font-weight: bolder;
    line-height: 25px;
}

#discography img {
    width: 100%;
}

#discography .text {
    width: 50%;
}

#discography .cover {
    width: 20%;
}